/* General container styles for Sign-Up Page */
.signup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #e0f7fa;
    padding: 20px;
  }
  
  /* Form container styling specific to Sign-Up */
  .form-container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 30px;
    width: 350px;
  }
  
  /* Heading for Sign-Up page */
  h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
  }
  
  /* Styling input fields for Sign-Up */
  .input-field {
    margin-bottom: 20px;
  }
  
  .input-field label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
  }
  
  .input-field input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  /* Button styling for Sign-Up */
  button {
    width: 100%;
    padding: 12px;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  /* Image container for Sign-Up Page */
  .image-container {
    max-width: 700px;
  }
  
.signup-image {
  width: 300px;
  border-radius: 50px;
}
  
 